# Django/Python specifics
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
db.sqlite3
*.log

# Large image folders
theme/static/cards

# Virtual environment
venv/
.env

# Misc
.DS_Store
Thumbs.db
*.bat
*.csv
media/