{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en" data-theme="pokemon-dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Tracker - Register</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/icons/pokeball-favicon.png' %}" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
</head>
<body class="flex items-center justify-center">
    <main class="container flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center gap-2 mb-10">
            <p class="flex flex-row items-center justify-center text-3xl text-base-content md:text-6xl font-bold">
                <img class="w-10 h-10 mr-2 md:w-18 md:h-18 md:mr-4" src="{% static 'images/icons/pokeball-favicon.png' %}" alt="Pokeball Logo">
                PocketTracker
            </p>
            <p class="text-xl md:text-3xl text-base-content font-base italic">Gotta <span class="text-accent font-bold">Track</span> 'em all!</p>
        </div>
        <div class="card content-card w-full max-w-md">
            <div class="card-body">
                <div class="flex items-center justify-center">
                    <h2 class="text-2xl md:text-4xl text-accent font-bold mt-2 mb-4">REGISTER</h2>
                </div>
                <div class="dashboard-divider"></div>
                <form method="post" id="register-form">
                    {% csrf_token %}
                    <p class="text-sm text-error my-1">{{ form.non_field_errors }}</p>
                    {% for field in form %}
                    {% if field.name != 'recaptcha' %}
                    <div class="mb-4">
                        <div class="text-lg md:text-xl font-semibold mb-2">{{ field.label_tag }}</div>
                        {{ field|add_class:"input input-primary w-full" }}
                        {% for error in field.errors %}
                        <p class="text-sm text-error mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <input type="hidden" name="recaptcha" id="g-recaptcha-response">
                    <button type="submit" class="btn btn-primary w-full">Register</button>
                </form>
                <p class="mt-4 text-center">Already have an account? <a href="{% url 'login' %}" class="text-primary">Sign In</a></p>
            </div>
        </div>
    </main>
    <script>
        document.querySelector('#register-form').addEventListener('submit', function (e) {
            e.preventDefault();
            grecaptcha.ready(function () {
                grecaptcha.execute('{{ recaptcha_site_key }}').then(function (token) {
                    document.getElementById('g-recaptcha-response').value = token;
                    e.target.submit();
                });
            });
        });
    </script>
</body>
</html>