{% load static tailwind_tags %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en" data-theme="{% if theme %}pokemon{% else %}{% if request.user.profile.dark_mode %}pokemon-dark{% else %}pokemon{% endif %}{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PTCG Tracker - Manage your Pokemon TCG Pocket collection, find trading parners and community features!">
    <title>{% block title %}PTCG Pocket Tracker{% endblock %}</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/icons/pokeball-favicon.png' %}" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body {% if theme %}style="--color-primary: {{ theme.primary }}; --color-accent: {{ theme.accent }}; --color-base-100: {{ theme.base_100 }}; --color-base-200: {{ theme.base_200 }}; --color-base-300: {{ theme.base_300 }};"{% endif %}>
    <nav class="navbar">
        <div class="navbar-start">
            <a href="{% url 'dashboard' %}" class="btn btn-ghost navbar-btn hidden lg:flex">
                <img class="nav-logo" src="{% if request.path == '/dashboard/' %}{% static 'images/icons/pokeball-open-favicon.png' %}{% else %}{% static 'images/icons/pokeball-favicon.png' %}{% endif %}" alt="Pokeball Logo">
                <span class="navbar-btn-text">Pocket Tracker</span>
            </a>

            <!-- Mobile -->
            <div class="dropdown dropdown-start lg:hidden">
                <label tabindex="0" class="btn btn-ghost menu-drop-start">
                    {% if not request.user.profile.dark_mode %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                    {% endif %}
                </label>
                <ul tabindex="0" class="menu dropdown-content menu-drop">
                    <li><a href="{% url 'tracker' latest_set_id %}" class="card drop-item">Tracker</a></li>
                    <li><a href="{% url 'wishlist' request.user.profile.share_token %}" class="card drop-item">Wishlist</a></li>
                    <li><a href="{% url 'trade_matches' %}" class="card drop-item">Trade</a></li>
                    <li>     
                        {% if unseen_count > 0 %}
                        <a href="{% url 'collection' %}" class="card drop-item flex flex-row gap-2">Collection
                            <img class="unseen-notification-badge w-5 h-5" src="{% static 'images/icons/pokeball-favicon.png' %}">
                        </a>
                        {% else %}
                        <a href="{% url 'collection' %}" class="card drop-item">Collection</a>
                        {% endif %}
                    </li>
                    <li><a href="{% url 'pack_opener' %}" class="card drop-item">Open Pack</a></li>
                    <li><a href="{% url 'profile' request.user.profile.share_token %}" class="card drop-item">Profile</a></li>
                </ul>
                {% if unseen_count > 0 %}
                    <img class="unseen-notification-badge absolute top-[0.25rem] right-[0.25rem] w-3 h-3" src="{% static 'images/icons/red-dot.png' %}">
                {% endif %}
            </div>
            <!-- End Mobile -->
             
        </div>

        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal navbar-menu flex">
                <li><a href="{% url 'tracker' latest_set_id %}" class="nav-item{% if request.path|startswith:'/tracker/' %}-focused{% endif %}">Tracker</a></li>
                <li><a href="{% url 'wishlist' request.user.profile.share_token %}" class="nav-item{% if request.path|startswith:'/wishlist/' %}-focused{% endif %}">Wishlist</a></li>
                <li><a href="{% url 'trade_matches' %}" class="nav-item{% if request.path == '/trade/matches/' %}-focused{% endif %}">Trade</a></li>

                <span class="items-center px-2 tooltip tooltip-bottom hidden xl:flex" data-tip="Did you know you're cute??" data-tip->
                    <img src="{% static random_icon %}" alt="Random Pokemon Icon" class="w-20 h-20">
                </span>

                <li>
                    <a href="{% url 'collection' %}" class="nav-item{% if request.path == '/collection/' %}-focused{% endif %}{% if unseen_count > 0 %} tooltip tooltip-bottom unseen-tooltip" data-tip="{{ unseen_count }} New Cards!{% endif %}">
                    Collection
                    {% if unseen_count > 0 %}
                        <img class="unseen-notification-badge w-8 h-8" src="{% static 'images/icons/pokeball-noti.png' %}">
                    {% endif %}
                    </a>
                </li>
                <li><a href="{% url 'pack_opener' %}" class="nav-item{% if request.path == '/pack/opener/' %}-focused{% endif %}">Open Pack</a></li>
                <li><a href="{% url 'profile' request.user.profile.share_token %}" class="nav-item{% if request.path|startswith:'/profile/' %}-focused{% endif %}">Profile</a></li>
            </ul>
        </div>

        <div class="navbar-center lg:hidden">
            <!-- Mobile -->
            <a href="{% url 'dashboard' %}" class="btn btn-ghost navbar-btn">
                <img class="nav-logo py-auto" src="{% if request.path == '/dashboard/' %}{% static 'images/icons/pokeball-open-favicon.png' %}{% else %}{% static 'images/icons/pokeball-favicon.png' %}{% endif %}" alt="Pokeball Logo">
                <span class="navbar-btn-text">Pocket Tracker</span>
            </a>
            <!-- End Mobile -->
        </div>

        <div class="navbar-end">
            <div class="nav-icons flex">
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'toggle_dark_mode' %}" id="dark-mode-form">
                    {% csrf_token %}
                    <input type="checkbox" name="dark_mode" class="toggle toggle-sm toggle-primary xl:toggle-md cursor-pointer"{% if request.user.profile.dark_mode %}checked{% endif %} />
                </form>
                {% endif %}
                <form method="post" action="{% url 'logout' %}" class="btn btn-sm btn-ghost btn-square rounded logout-btn">
                    {% csrf_token %}
                    <button type="submit" class="hidden lg:block">
                        {% if not request.user.profile.dark_mode or theme %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 17l5-5-5-5M19.8 12H9M10 3H4v18h6"/></svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 17l5-5-5-5M19.8 12H9M10 3H4v18h6"/></svg>
                        {% endif %}
                    </button>

                    <!-- Mobile -->
                    <button type="submit" class="lg:hidden">
                        {% if not request.user.profile.dark_mode %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 17l5-5-5-5M19.8 12H9M10 3H4v18h6"/></svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 17l5-5-5-5M19.8 12H9M10 3H4v18h6"/></svg>
                        {% endif %}
                    </button>
                    <!-- End Mobile -->

                </form>
            </div>
        </div>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    
        <script>
            const darkModeToggle = document.querySelector('input[name="dark_mode"]');
            darkModeToggle.addEventListener('change', () => {
                const form = document.getElementById('dark-mode-form');
                if (form) {
                    form.submit();
                }
            });
        </script>
    </main>
    <footer>
        <p>© 2025 Pocket Tracker - Built with ❤️ for the Pokémon Community</p>
        <p>Developed By: Jeffrey Lowe (HuntedCode)</p>
        <nav class="footer-links flex">
            <a href="#" class="foot-link">About</a>
            <a href="#" class="foot-link">Contact</a>
            <a href="#" class="foot-link">Privacy</a>
        </nav>
    </footer>
</body>
</html>