{% load static tailwind_tags %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en" data-theme="pokemon">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PTCG Tracker - Manage your Pokemon TCG Pocket collection, find trading parners and community features!">
    <title>{% block title %}PTCG Pocket Tracker{% endblock %}</title>
    <link rel="icon" href="{% static 'images/icons/pokeball-favicon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="bg-base-100 text-base-content min-h-screen flex flex-col">
    <nav class="navbar bg-base-100 shadow-xl rounded-box">
        <div class="navbar-start">
            <a href="{% url 'dashboard' %}" class="btn btn-ghost normal-case text-xl flex items-center hover:text-primary">
                <img src="{% static 'images/icons/pokeball-favicon.png' %}" alt="Pokeball Logo" class="w-8 h-8 mr-2">PTCG Pocket Tracker
            </a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1 space-x-4 flex items-center">
                <li><a href="{% url 'collection_set' 1 %}" class="{% if request.path|startswith:'/collection/' %}nav-focused bg-accent text-primary-content font-bold rounded-md hover:bg-accent{% else %} hover:bg-neutral{% endif %} hover:text-neutral-content flex items-center">My Collection</a></li>
                <li><a href="{% url 'profile' %}" class="{% if request.path == '/profile/' %}nav-focused bg-accent text-primary-content font-bold rounded-md hover:bg-accent{% else %} hover:bg-neutral{% endif %} hover:text-neutral-content flex items-center">Profile</a></li>
                <li><a href="{% url 'trade_matches' %}" class="{% if request.path == '/trade/matches/' %}nav-focused bg-accent text-primary-content font-bold rounded-md hover:bg-accent{% else %} hover:bg-neutral{% endif %} hover:text-neutral-content flex items-center">Trades</a></li>

                <span class="flex items-center px-2">
                    <img src="{% static random_icon %}" alt="Random Pokemon Icon" class="w-20 h-20">
                </span>

                <li><a href="{% url 'wishlist' %}" class="{% if request.path == '/wishlist/' %}nav-focused bg-accent text-primary-content font-bold rounded-md hover:bg-accent{% else %} hover:bg-neutral{% endif %} hover:text-neutral-content flex items-center">My Wishlist</a></li>
                <li><a href="{% url 'pack_opener' %}" class="{% if request.path == '/pack/opener/' %}nav-focused bg-accent text-primary-content font-bold rounded-md hover:bg-accent{% else %} hover:bg-neutral{% endif %} hover:text-neutral-content flex items-center">Open Pack</a></li>
                <li><a href="{% url 'inbox' %}" class="{% if request.path == '/message/inbox/' %}nav-focused bg-accent text-primary-content font-bold rounded-md hover:bg-accent{% else %} hover:bg-neutral{% endif %} hover:text-neutral-content flex items-center">Inbox</a></li>
            </ul>
        </div>
        <div class="navbar-end">
            <form method="post" action="{% url 'logout' %}" class="inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-ghost text-accent hover:text-accent-dark">Logout</button>
            </form>
        </div>
    </nav>
    <main class="container py-8 bg-base-200 rounded-box shadow-md m-4 flex-grow">
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-neutral text-neutral-content text-center shadow-md py-4">
        <p>© 2025 PTCG Tracker - Built with ❤️ for the Pokemon Community - Developed By: Jeffrey Lowe (HuntedCode)</p>
        <nav class="flex justify-center space-x-4 pt-4">
            <a href="#" class="hover:text-secondary">About</a>
            <a href="#" class="hover:text-secondary">Contact</a>
            <a href="#" class="hover:text-secondary">Privacy</a>
        </nav>
    </footer>
</body>
</html>