{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Pocket Tracker - Dashboard{% endblock %}

{% block head %}<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endblock  %}

{% block content %}
<div class="card content-card">
    <div class="card-body">
        <h1 class="text-lg md:text-xl lg:text-2xl font-bold mb-4 border-b-2 border-base-300 pb-4">Welcome to Your Dashboard, {{ user.username }}</h1>
        <div id="dashboard-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

            <!-- Bulk Uploader -->
             <div class="card dashboard-card" data-card-id="bulk-uploader">
                <button type="button" class="btn btn-xs btn-ghost dashboard-drag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>
                <div class="dashboard-body">
                    <h2 class="dashboard-title">Collection Import/Export</h2>

                    <div class="dashboard-divider"></div>

                    <p class="text-base font-semibold text-sm md:text-base-content mb-2 text-center">Upload or download your entire collection fast & easy!</p>

                    <div class="dashboard-divider"></div>

                    <div class="flex flex-col gap-4 w-full">
                        <a href="{% url 'download_collection_template' %}" class="btn btn-md btn-success w-full">Download Blank Collection Template</a>

                        <a href="{% url 'download_user_collection' %}" class="btn btn-md btn-primary w-full">Download Your Collection</a>

                        <form>
                            {% csrf_token %}
                            <button type="button" id="upload-collection-btn" class="btn btn-md btn-accent w-full">Upload Your Collection</button>
                            
                            <div id="collection-uploader-div" class="card raised-card w-[90%] mx-auto overflow-hidden justify-center items-center mt-4 hidden">
                                <input class="file-input" type="file" id="upload-collection-input" name="upload-collection-file" accept=".csv">
                                <div id="upload-stats"></div>
                                <div class="flex flex-row gap-2 mb-2">
                                    <button type="button" id="confirm-upload" class="btn btn-success w-[80%]">Confirm Upload</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
             </div>

            <!-- Collection Stats -->
            <div class="card dashboard-card" data-card-id="total-stats">
                <button type="button" class="btn btn-xs btn-ghost dashboard-drag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>
                <div class="dashboard-body">
                    <h2 class="dashboard-title">Total Collection Stats</h2>

                    <div class="dashboard-divider"></div>

                    <p class="dashboard-label">Unique Cards: <span class="dashboard-stat">{{ total_stats.total_unique }}</span> | Total Cards: <span class="dashboard-stat">{{ total_stats.total_quantity }}</span></p>
                    
                    <div class="dashboard-divider"></div>
                    
                    <p class="dashboard-label"><i class="fas fa-star mr-1 text-accent"></i>Base Cards: <span class="dashboard-stat">{{ total_stats.total_base }} / {{ total_stats.base_cards_count }} ({{ total_stats.base_completion }}%)</span></p>
                    <progress class="progress progress-primary w-[65%] mb-2" value="{{ total_stats.base_completion }}" max="100"></progress>
                    <p class="dashboard-label"><i class="fas fa-star-half-alt mr-1 text-accent"></i>Rare Cards: <span class="dashboard-stat">{{ total_stats.total_rare }} / {{ total_stats.rare_cards_count }} ({{ total_stats.rare_completion }}%)</span></p>
                    <progress class="progress progress-accent w-[65%] mb-2" value="{{ total_stats.rare_completion }}" max="100"></progress>
                    <p class="dashboard-label"><i class="fas fa-crown mr-1 text-accent"></i>6th Slot Cards: <span class="dashboard-stat">{{ total_stats.total_exclusive }} / {{ total_stats.exclusive_cards_count }} ({{ total_stats.exclusive_completion }}%)</span></p>
                    <progress class="progress progress-success w-[65%] mb-2" value="{{ total_stats.exclusive_completion }}" max="100"></progress>

                    <div class="dashboard-divider"></div>

                    <h2 class="dashboard-title mt-10">Stats By Group</h2>

                    <div class="dashboard-divider"></div>

                    {% for group in total_stats.grouped_rarities %}
                    <p class="dashboard-label"><span class="{{ group.group|lower }}-text">{% if group.group == 'Diamond' %}💎{% elif group.group == 'Star' %}★{% elif group.group == 'Shiny' %}✨{% elif group.group == 'Crown' %}👑{% endif %}
                        {{ group.group }}</span> Cards: <span class="dashboard-stat">{{ group.owned }} / {{ group.total }} ({{ group.completion }}%)</span></p>
                        <progress class="progress {% if group.group == 'Diamond' %}progress-primary{% elif group.group == 'Star' %}progress-secondary{% elif group.group == 'Shiny' %}progress-accent{% elif group.group == 'Crown' %}progress-error{% endif %} w-[65%] mb-2" value="{{ group.completion }}" max="100"></progress>
                    {% endfor %}
                </div>
            </div>

            <!-- Set Overview -->
            <div class="card dashboard-card min-h-155" data-card-id="total-stats">
                <button type="button" class="btn btn-xs btn-ghost dashboard-drag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>
                <div class="dashboard-body flex flex-col justify-between h-full">
                    <div class="w-full">
                        <h2 class="dashboard-title">Set Overview</h2>

                        <div class="dashboard-divider"></div>
                        
                        <div class="overflow-x-auto w-full">
                            <table class="table table-sm">
                                <thead class="text-accent hover:bg-base-300">
                                    <tr>
                                        <th>Set</th>
                                        <th>Base</th>
                                        <th>Rare</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody id="set-overview-rows">
                                    {% for set in total_stats.set_breakdown %}
                                    <tr class="font-semibold cursor-pointer hover:bg-base-300{% if forloop.counter0 >= 6%} hidden{% endif %}" data-page="{{ forloop.counter0|div:6 }}" onclick="document.location='{% url 'tracker' set.set_id %}';">
                                        <th rowspan="2" class="text-primary">{{ set.set_name }}</th>
                                        <td>{{ set.set_base }}/{{ set.set_base_count }}</td>
                                        <td>{{ set.set_rare }}/{{ set.set_rare_count }}</td>
                                        <td>{{ set.set_total }}/{{ set.set_total_count }}</td>
                                    </tr>
                                    <tr class="font-semibold cursor-pointer hover:bg-base-300{% if forloop.counter0 >= 6%} hidden{% endif %}" data-page="{{ forloop.counter0|div:6 }}">
                                        <td><progress class="progress {% if set.set_base_completion < 33.33 %}progress-accent{% elif set.set_base_completion < 66.66 %}progress-secondary{% elif set.set_base_completion < 100 %}progress-success{% else %}progress-primary{% endif %} w-full" value="{{ set.set_base_completion }}" max="100"></progress></td>
                                        <td><progress class="progress {% if set.set_rare_completion < 33.33 %}progress-accent{% elif set.set_rare_completion < 66.66 %}progress-secondary{% elif set.set_rare_completion < 100 %}progress-success{% else %}progress-primary{% endif %} w-full" value="{{ set.set_rare_completion }}" max="100"></progress></td>
                                        <td><progress class="progress {% if set.set_total_completion < 33.33 %}progress-accent{% elif set.set_total_completion < 66.66 %}progress-secondary{% elif set.set_total_completion < 100 %}progress-success{% else %}progress-primary{% endif %} w-full" value="{{ set.set_total_completion }}" max="100"></progress></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="set-overview-tabs" class="flex justify-center mt-4 p-2 overflow-x-auto"></div>
                </div>
            </div>

            <!-- Set Breakdown -->

            <div class="card dashboard-card min-h-160" data-card-id="set-breakdown">
                <button type="button" class="btn btn-xs btn-ghost dashboard-drag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>
                <div class="dashboard-body">
                    <h2 class="dashboard-title">Set Breakdown</h2>

                    <div class="dashboard-divider"></div>

                    <select id="set-breakdown-select" class="select select-md select-primary">
                        {% for set in all_sets %}
                        <option class="set-breakdown-option" value="{{ set.id }}">{{ set.name }}</option>
                        {% endfor %}
                    </select>

                    <div class="dashboard-divider mt-2"></div>

                    {% for set in set_breakdown %}
                    <div class="set-breakdown-display flex flex-col items-center hidden" data-set-id="{{ set.set_id }}">
                        <p class="dashboard-label">Total Collection: <span class="dashboard-stat">{{ set.owned }} / {{ set.total }} ({{ set.completion }}%)</span></p>
                        <progress class="progress progress-success w-full mb-2" value="{{ set.completion }}" max="100"></progress>

                        {% for rarity in set_rarities|get_value:set.set_id %}
                        <p class="dashboard-label"><span class="{% if 'Diamond' in rarity.rarity %}diamond{% elif 'Star' in rarity.rarity %}star{% elif 'Shiny' in rarity.rarity %}shiny{% elif 'Crown' in rarity.rarity %}crown{% endif %}-text">
                            {% if 'Diamond' in rarity.rarity %}💎{% elif 'Star' in rarity.rarity %}★{% elif 'Shiny' in rarity.rarity %}✨{% elif 'Crown' in rarity.rarity %}👑{% endif %}
                            {{ rarity.rarity }}:</span> <span class="dashboard-stat">{{ rarity.owned }} / {{ rarity.total }} ({{ rarity.completion }}%)</span></p>

                        <progress class="progress {% if 'Diamond' in rarity.rarity %}progress-primary{% elif 'Star' in rarity.rarity %}progress-secondary{% elif 'Shiny' in rarity.rarity %}progress-accent{% elif 'Crown' in rarity.rarity %}progress-error{% endif %} w-full mb-2" value="{{ rarity.completion }}" max="100"></progress>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Pack Picker -->

            <div class="card dashboard-card min-h-155" data-card-id="pack-picker">
                <button type="button" class="btn btn-xs btn-ghost dashboard-drag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>
                <div class="dashboard-body flex flex-col justify-between h-full">
                    <div class="w-full">
                        <h2 class="dashboard-title">Pack Picker</h2>
                        <p class="text-xs text-base-content font-semibold text-center mb-2">(%s based on 5,000 simulated pack openings.)</p>

                        <div class="dashboard-divider"></div>

                        <div class="flex flex-col items-center justify-center my-4">
                            <form method="post" action="{% url 'refresh_pack_picker' %}">
                                {% csrf_token %}
                                <button id="refresh-pack-picker" class="btn btn-success" disabled>Refresh Simulations</button>
                            </form>
                            <span id="refresh-timer" class="mt-2 text-sm font-semibold"></span>
                        </div>
                        
                        <div class="overflow-x-auto w-full">
                            <table class="table table-sm text-center w-full">
                                <thead class="text-accent hover:bg-base-300">
                                    <th>Booster</th><th>New Card%</th><th>New Base%</th><th>New Rare%</th>
                                </thead>
                                <tbody id="pack-picker-rows">
                                    {% for booster in pack_picker %}
                                    <tr class="font-semibold hover:bg-base-300{% if forloop.counter0 >= 8%} hidden{% endif %}" data-page="{{ forloop.counter0|div:8 }}">
                                        <th class="text-primary">{{ booster.booster_name }}</th>
                                        <td>{{ booster.chance_new }}%</td>
                                        <td>{{ booster.base_chance_new }}%</td>
                                        <td>{{ booster.rare_chance_new }}%</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="pack-picker-tabs" class="flex justify-center mt-4 p-2 overflow-x-auto"></div>
                </div>                
            </div>

            <!-- Community Stats -->
            <div class="card dashboard-card" data-card-id="set-breakdown">
                <button type="button" class="btn btn-xs btn-ghost dashboard-drag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>
                <div class="dashboard-body">
                    <h2 class="dashboard-title">Daily Community Stats</h2>

                    <div class="dashboard-divider"></div>

                    <p class="dashboard-label">Total Packs Opened: <span class="dashboard-stat">{{ daily_stats.packs_opened }}</span></p>
                    <p class="dashboard-label">Total Rares Found: <span class="dashboard-stat">{{ daily_stats.rare_cards_found }}</span></p>

                    <div class="dashboard-divider"></div>

                    <p class="dashboard-label"><span class="diamond-text">Four Diamond</span> Pulled: <span class="dashboard-stat">{{ daily_stats.four_diamond_found }}</span></p>
                    <p class="dashboard-label"><span class="star-text">One Star</span> Pulled: <span class="dashboard-stat">{{ daily_stats.one_star_found }}</span></p>
                    <p class="dashboard-label"><span class="star-text">Two Star</span> Pullled: <span class="dashboard-stat">{{ daily_stats.two_star_found }}</span></p>
                    <p class="dashboard-label"><span class="star-text">Three Star</span> Pulled: <span class="dashboard-stat">{{ daily_stats.three_star_found }}</span></p>
                    <p class="dashboard-label"><span class="shiny-text">One Shiny</span> Pulled: <span class="dashboard-stat">{{ daily_stats.one_shiny_found }}</span></p>
                    <p class="dashboard-label"><span class="shiny-text">Two Shiny</span> Pulled: <span class="dashboard-stat">{{ daily_stats.two_shiny_found }}</span></p>
                    <p class="dashboard-label"><span class="crown-text">Crown</span> Pulled: <span class="dashboard-stat">{{ daily_stats.crown_found }}</span></p>
                
                    <div class="dashboard-divider"></div>

                    <div class="w-full h-64">
                        <canvas id="rarity-pie-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ pack_picker|json_script:"pack-picker-data" }}
{{ total_stats.set_breakdown|json_script:"set-overview-data" }}
{{ daily_stats|json_script:"daily-stats-data" }}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const selector = document.getElementById('set-breakdown-select');
        const initialDisplay = document.querySelector(`.set-breakdown-display[data-set-id="${selector.value}"]`);
        initialDisplay.classList.remove('hidden');

        selector.addEventListener('change', function(e) {
            const all_displays = document.querySelectorAll('.set-breakdown-display');
            all_displays.forEach(display => {
                display.classList.add('hidden');
            });

            const setId = e.target.value;
            const selectedDisplay = document.querySelector(`.set-breakdown-display[data-set-id="${setId}"]`);
            selectedDisplay.classList.remove('hidden');
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const packPickerData = JSON.parse(document.getElementById('pack-picker-data').textContent);
        const rows = document.querySelectorAll('#pack-picker-rows tr');
        const tabsContainer = document.getElementById('pack-picker-tabs');
        const itemsPerPage = 8;
        const totalPages = Math.ceil(packPickerData.length / itemsPerPage);

        let currentPage = 0;

        function renderTabs() {
            tabsContainer.innerHTML = '';
            if (totalPages <= 1) return;
            const btnGroup = document.createElement('div');
            btnGroup.className = 'btn-group gap-2 lg:gap-0';
            for (let i = 0; i < totalPages; i++) {
                const btn = document.createElement('button');
                btn.className = `btn btn-md lg:btn-sm btn-primary ${i === currentPage ? 'btn-active' : ''}`;
                btn.textContent = i + 1;
                btn.addEventListener('click', () => switchPage(i));
                btnGroup.appendChild(btn);
            }
            tabsContainer.appendChild(btnGroup);
        }

        function switchPage(page) {
            currentPage = page;
            rows.forEach(row => {
                const rowPage = parseInt(row.dataset.page);
                row.classList.toggle('hidden', rowPage !== page);
            });
            tabsContainer.querySelectorAll('.btn').forEach((btn, i) => {
                btn.classList.toggle('btn-active', i === page);
            });
        }

        renderTabs();
    });

    document.addEventListener('DOMContentLoaded', () => {
        const setOverviewData = JSON.parse(document.getElementById('set-overview-data').textContent);
        const rows = document.querySelectorAll('#set-overview-rows tr');
        const tabsContainer = document.getElementById('set-overview-tabs');
        const itemsPerPage = 6;
        const totalPages = Math.ceil(setOverviewData.length / itemsPerPage);

        let currentPage = 0;

        function renderTabs() {
            tabsContainer.innerHTML = '';
            if (totalPages <= 1) return;
            const btnGroup = document.createElement('div');
            btnGroup.className = 'btn-group gap-2 lg:gap-0';
            for (let i = 0; i < totalPages; i++) {
                const btn = document.createElement('button');
                btn.className = `btn btn-md lg:btn-sm btn-primary ${i === currentPage ? 'btn-active' : ''}`;
                btn.textContent = i + 1;
                btn.addEventListener('click', () => switchPage(i));
                btnGroup.appendChild(btn);
            }
            tabsContainer.appendChild(btnGroup);
        }

        function switchPage(page) {
            currentPage = page;
            rows.forEach(row => {
                const rowPage = parseInt(row.dataset.page);
                row.classList.toggle('hidden', rowPage !== page);
            });
            tabsContainer.querySelectorAll('.btn').forEach((btn, i) => {
                btn.classList.toggle('btn-active', i === page);
            });
        }

        renderTabs();
    });

    document.addEventListener('DOMContentLoaded', () => {
        const grid = document.getElementById('dashboard-grid');

        const savedOrder = JSON.parse(localStorage.getItem('dashboardOrder')) || [];
        if (savedOrder.length) {
            savedOrder.forEach(id => {
                const card = grid.querySelector(`[data-card-id="${id}"]`);
                if (card) grid.appendChild(card);
            });
        }

        const sortable = new Sortable(grid, {
            animation: 150,
            handle: '.dashboard-drag',
            onEnd: () => {
                const newOrder = Array.from(grid.querySelectorAll('.card')).map(c => c.dataset.cardId);
                localStorage.setItem('dashboardOrder', JSON.stringify(newOrder));
            }
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const refreshButton = document.getElementById('refresh-pack-picker');
        const timerSpan = document.getElementById('refresh-timer');
        const tbody = document.getElementById('pack-picker-rows');

        refreshButton.addEventListener('click', refreshSims);

        function refreshSims() {
            fetch('/api/pack/picker/')
                .then(res => res.json())
                .then(data => {
                    if (data.error) {
                        timerSpan.textContent = data.error;
                        refreshButton.disabled = true;
                        return;
                    }

                    tbody.innerHTML = '';
                    data.boosters.forEach(booster => {

                    })
                })
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        const lastRefreshISO = '{{ last_refresh }}';
        const refreshButton = document.getElementById('refresh-pack-picker');
        const timerSpan = document.getElementById('refresh-timer');

        function startTimer(lastRefreshISO) {
            if(!lastRefreshISO) {
                timerSpan.textContent = 'Ready';
                refreshButton.disabled = false;
                return;
            }
            const last = new Date(lastRefreshISO);
            const interval = setInterval(() => {
                const now = new Date();
                const diffMs = 3600000 - (now - last)
                if (diffMs <= 0) {
                    timerSpan.textContent = 'Ready';
                    refreshButton.disabled = false;
                    clearInterval(interval);
                    return;
                }
                const min = Math.floor(diffMs / 60000);
                const sec = Math.floor((diffMs % 60000) / 1000);
                timerSpan.textContent = `Next in ${min}:${sec < 10 ? '0' : ''}${sec}`;
                refreshButton.disabled = true;
            }, 1000);
        }
        
        startTimer(lastRefreshISO)
    });

    document.addEventListener('DOMContentLoaded', () => {
        const dailyStats = JSON.parse(document.getElementById('daily-stats-data').textContent);
        const ctx = document.getElementById('rarity-pie-chart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Four Diamond', 'One Star', 'Two Star', 'Three Star', 'One Shiny', 'Two Shiny', 'Crown'],
                datasets: [{
                    data: [
                        dailyStats.four_diamond_found,
                        dailyStats.one_star_found,
                        dailyStats.two_star_found,
                        dailyStats.three_star_found,
                        dailyStats.one_shiny_found,
                        dailyStats.two_shiny_found,
                        dailyStats.crown_found
                    ],
                    backgroundColor: [
                        'oklch(74% .16 232.661)',
                        'oklch(82% .189 84.429)',
                        'oklch(82% .189 84.429)',
                        'oklch(82% .189 84.429)',
                        'oklch(65% .241 354.308)',
                        'oklch(65% .241 354.308)',
                        'oklch(71% .194 13.428)'
                    ],
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {position: 'right'}
                }
            }
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const upload_button = document.getElementById('upload-collection-btn');
        const file_input = document.getElementById('upload-collection-input');
        const upload_div = document.getElementById('collection-uploader-div');
        
        upload_button.addEventListener('click', () => {
            file_input.click();
        });

        file_input.addEventListener('change', () => {
            if (file_input.files.length === 0) return;
            const formData = new FormData();
            formData.append('file', file_input.files[0]);
            const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;

            const upload_stats_div = document.getElementById('upload-stats');

            fetch('/import/user_collection/?mode=preview', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrf_token
                }
            })
            .then(response => response.json())
            .then(data => {
                upload_div.classList.remove('hidden');
                
                upload_stats_div.innerHTML = `
                    <h2 class="dashboard-title">Pending Updates:</h2>
                    <p class="dashboard-label text-center">Total Rows <span class="text-secondary">Created</span>: <span class="dashboard-stat">${data['creates']}</span></p>
                    <p class="dashboard-label text-center">Total Rows <span class="text-secondary">Updated</span>: <span class="dashboard-stat">${data['updates']}</span></p>
                    <p class="dashboard-label text-center">Total Rows <span class="text-secondary">Deleted</span>: <span class="dashboard-stat">${data['deletes']}</span></p>
                    <p class="dashboard-label text-center">Total Rows <span class="text-secondary">Changed</span>: <span class="dashboard-stat">${data['total_changes']}</span></p>
                `;
            })
        });

        document.getElementById('confirm-upload').addEventListener('click', () => {
            if (file_input.files.length === 0) return;
            const formData = new FormData();
            formData.append('file', file_input.files[0]);
            const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;

            const upload_stats_div = document.getElementById('upload-stats');

            fetch('/import/user_collection/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrf_token
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.success);
                    document.getElementById('collection-uploader-div').classList.add('hidden');
                    file_input.value = '';
                } else {
                    alert(data.error);
                }
            })
        });
    });
</script>
{% endblock %}