{% extends "base.html" %}

{% block content %}

<div class="card bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title">Trade Proposal #{{ match.id }}</h2>
        <p>Status: <span class="badge {{ match.status|slugify }}">{{ match.status|capfirst }}</span></p>
        <p>From: {% if match.status == 'accepted' %}{{ match.initiator.username }}{% else %}Anonymous Trader{% endif %}</p>
        <p>You Receive: {{ match.received_card.name }} ({{ match.received_card.tcg_id }})</p>
        <p>You Offer: {{ match.offered_card.name }} ({{ match.offered_card.tcg_id }})</p>
        <div class="card-actions">
            {% if match.status == 'pending' %}
            {% if request.user == match.recipient %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="accept">
                <button class="btn btn-success">Accept</button>
            </form>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="deny">
                <button class="btn btn-error">Deny</button>
            </form>
            {% elif request.user == match.initiator %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="rescind">
                <btn class="btn btn-warning">Rescind</btn>
            </form>
            {% endif %}
            {% endif %}
            {% if match.status == 'accepted' %}
            <a href="{% url 'send_message' match.recipient.id %}" class="btn btn-accent">Chat to Complete</a>
            {% endif }
        </div>
    </div>
</div>
{% endblock %}